{% extends 'politricks/base.html' %}


{% block content %}
<div class="container">
    <div class="jumbotron">
      {% if success %}
        <h1>Your post has been successfully added!</h1>
      {% else %}
        <h1>Add you Feed</h1>
        <h3>Just fill out the form.</h3>
<form enctype="multipart/form-data" method="POST">
          {% csrf_token %}
        <h4>Location</h4>
          {{ location_form.as_p }}
    <h4>Party Details</h4>
          {{ party_form.as_p }}
 <select>
    {% for party in parties %}
       <option value="{{ party.pk }}"> {{ party.title }}</option>
    {% endfor %}
 </select>
    <h4>Your Feed</h4>
          {{ post_form.as_p  }}
{{ usertag_form.as_p }}
 <h4>Add your Tag</h4>
{{ tag_form }}
          <input type="submit" name="" value="Add">
        </form>

      {% endif %}
    </div>
  </div>
{% endblock %}